# Core dependencies
datasets
pyyaml

# ML/DL frameworks
torch==2.2.2
transformers
accelerate>=0.26.0

# NLP utilities
nltk
nervaluate
scikit-learn
bert-score
shap

# Optional dependencies for specific anonymizers
# SpaCy NER
spacy

# Presidio PII detection
presidio-analyzer
presidio-anonymizer
