animals+pets.csv                            
animals+pets_by_company.jsonl               
beauty+well-being.csv                       
beauty+well-being_by_company.jsonl          
business_services.csv                       
business_services_by_company.jsonl          
construction+manufacturing.csv              
construction+manufacturing_by_company.jsonl 
education+training.csv                      
education+training_by_company.jsonl         
electronics+technology.csv                  
electronics+technology_by_company.jsonl                                 
events+entertainment.csv                    
events+entertainment_by_company.jsonl       
food+beverages+tobacco.csv                  
food+beverages+tobacco_by_company.jsonl     
health+medical.csv                          
health+medical_by_company.jsonl             
hobbies+crafts.csv                          
hobbies+crafts_by_company.jsonl             
home+garden.csv                             
home+garden_by_company.jsonl                
home_services.csv                           
home_services_by_company.jsonl              
legal_services+government.csv               
legal_services+government_by_company.jsonl  
media+publishing.csv                        
media+publishing_by_company.jsonl           
money+insurance.csv                         
money+insurance_by_company.jsonl
public+local_services.csv
public+local_services_by_company.jsonl
restaurants+bars.csv
restaurants+bars_by_company.jsonl
shopping+fashion.csv
shopping+fashion_by_company.jsonl
sports.csv
sports_by_company.jsonl
travel+vacation.csv
travel+vacation_by_company.jsonl
utilities.csv
utilities_by_company.jsonl
vehicles+transportation.csv
vehicles+transportation_by_company.jsonl